.text{
    font-size: 11rem;
    font-weight: 700;
    font-family: 'myFont';
    text-transform: uppercase;
    
    margin: 0;
}
.bgColor{
    background-color: #DBD6CB;
    color: #000000;
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 90vh;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.heroImage{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    /* bottom: 1px; */
    width: 40%;
    bottom: 0px;

}
@media screen and (max-width: 1024px){
    .text{
        font-size: 10rem;   
    }
    
    
}
@media screen and (max-width: 768px){
    .text{
        font-size: 8rem;
        font-weight: 500;
    }
    .heroImage{
        width: 50%;
        top: 50%;
    }
    
}

@media screen and (max-width: 480px){
    .wrapper{
        padding-top: 5rem;
    }
    .heroImage{
        width: 95%;
        top: 53%;
    }
    .text{
        font-size: 4rem;
        font-weight: 500;
    }
    
}