.text{
    font-size: 11rem;
    font-weight: 700;
    font-family: 'myFont';
    text-transform: uppercase;
    
    margin: 0;
}
.bgColor{
    background-color: #DBD6CB;
    color: #000000;
}

@media screen and (max-width: 768px){
    .text{
        font-size: 44.8px;
        font-weight: 500;
    }
    .img{
        width: 100%;
    }
    
}