
.text{
    font-size: 10rem;
    font-weight: 700;
    margin: 0;
    font-family: 'myFont';
    text-transform: uppercase;
}


@media screen and (max-width: 780px){
    .text{
        font-size: 5rem;
        font-weight: 700;
        margin: 0;
        font-family: 'myFont';
    }
    
}
@media screen and (max-width: 480px){
    .text{
        font-size: 4rem;
        font-weight: 700;
        margin: 0;
    }
    
}
@media screen and (max-width: 380px){
    .text{
        font-size: 3.2rem;
        font-weight: 700;
        margin: 0;
    }
    
}


