.cardStyle{
    background: transparent;
    color: white;
    
    border-top: 1px solid;
    padding-top: 32px;
    padding-bottom: 32px;

}

.title{
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0;
    font-family: 'myFont';
    color: #DBD6CB;
}
.details{
    font-size: 0.875rem;
    font-family: 'myFont';
    color: #DBD6CB;
    text-transform: uppercase;
}
.linkWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}
.gitHubLink{
    font-size: 1rem;
    font-family: 'myFont';
    color: #DBD6CB;
    text-decoration: underline;
    margin-top: 20px;
    display: block;
}
.gitHubLink:hover{
    color: #EF5F37;
}